* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  zoom: 0.8;
}

body {
  font-family: 'Gmarket Sans TTF', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  background-color: #ffffff;
}
